<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanandroid.java">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.wanandroid.java.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/wanand_java_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wanand_java_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wanandroid.java.article.view.collection.CollectionActivity" />
        <activity android:name="com.wanandroid.java.article.view.knowledgesystem.KnowledgeSystemArticleListActivity" />
        <activity android:name="com.wanandroid.java.login.view.RegisterLoginActivity" />
        <activity android:name="com.wanandroid.java.article.view.ArticleDetailWebViewActivity" />
        <activity android:name="com.wanandroid.java.account.SetNameActivity" />
        <activity android:name="com.wanandroid.java.account.PersonalInformationActivity" />
        <activity android:name="com.wanandroid.java.aboutme.AboutMeActivity" />
        <activity
            android:name="com.wanandroid.java.home.HomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>